<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Duplicate Checker</title>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
  <meta name="description" content="A minimal and sleek data processing application" />
  <meta name="theme-color" content="#007bff" />
</head>
<body>
  <button id="dark-mode-toggle" class="dark-mode-toggle">
    <img src="/dark-mode-icon.svg" alt="Toggle Dark Mode" />
  </button>
  <div class="container">
    <div class="form-section">
      <h1>Duplicate Checker</h1>
      <form id="dataForm" enctype="multipart/form-data">
        <div class="form-group">
          <label for="localFile">Local File:</label>
          <input type="file" id="localFile" name="localFile" required />
          <input type="text" id="colName" name="colName" placeholder="Column Name" required />
        </div>
        <div class="form-group">
          <label for="links">Google Sheet Links:</label>
          <input type="text" id="links" name="links" placeholder="Comma-separated links" required />
        </div>
        <div class="form-group">
          <label for="onlineColName">Online Column Name:</label>
          <input type="text" id="onlineColName" name="onlineColName" required />
        </div>
        <div class="form-group">
          <label for="token">Token JSON:</label>
          <input type="file" id="token" name="token" required />
        </div>
        <button type="submit">Process</button>
      </form>
    </div>
    <div class="result-section">
      <div id="loading" class="loader hidden">
        <img src="/images/loading.gif" alt="Loading..." class="loading-icon">
        <p style="font-weight: 600; font-size: larger;">Processing...</p>
      </div>
      <div id="result" class="hidden">
        <p id="message"></p>
        <div id="progress" class="hidden">
          <ul id="sheetStatus"></ul>
        </div>
        <div class="stats-container">
          <div class="hidden" id="stats">
          <div class="stat-box">
            <span class="stat-number" id="duplicatesRemoved">0</span>
            <span class="stat-label">Duplicates Removed</span>
          </div>
        </div>
        </div>
        <a id="downloadLink" class="hidden" href="#" download>Download File</a>
        <p id="autodel" class="hidden">
          Note: Your file will be automatically deleted off the server after 10 minutes.
        </p>
      </div>
    </div>
  </div>
  <footer>
    <p>
      Made with <span class="heart">❤️</span> by
      <a href="https://github.com/postlemons" target="_blank">postlemons</a>
    </p>
  </footer>
  <script src="/script.js"></script>
</body>
</html>